@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Merriweather&family=Playfair+Display&display=swap');

:root {
    --primary-color: #FCFDFE;
    --secondary-color: #150578;
    --accent1-color: #5D9AE4;
    --accent2-color: #4A0475;


    /* These are my font families
    font-family: 'Courgette', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display', serif;
    */
    /*header,
footer {
grid-column-start: 1;
grid-column-end: 3;
} */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

header {
    padding: 3em;
    text-align: center;
    background-color: #4A0475;
}

.grid-item:nth-child(1) {
    grid-column: 1/7
}

h1 {
    color: #4A0475;
    font-family: 'Courgette', cursive;
    font-size: 70px;
    text-align: center;
}

.grid-item:nth-child(2) {
    grid-column: 3/7
}

.picture {
    max-width: 60%;
}

h2 {
    color: #4A0475;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    text-align: center;
}

.grid-item:nth-child(3) {
    grid-row: 4;
    grid-column: 6/7;
}

p {
    font-family: 'Merriweather', serif;
    color: #4A0475;
    padding: 1em;
}

.grid-item:nth-child(4) {
    grid-column: 1/6;
    grid-row: 3/6;
}

.grid-item:nth-child(5) {
    grid-row: 5;
    grid-column: 6/7;
}

.grid-item:nth-child(6) {
    grid-row: 6;
    grid-column: 1/7;
}

.grid-item:nth-child(7) {
    grid-row: 7;
    grid-column: 5;
}

.grid-item:nth-child(8) {
    grid-row: 7;
    grid-column: 6;
}

.grid-item:nth-child(9) {
    grid-row: 7;
    grid-column: 2/6;
}

body {

    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: left;
    background-color: rgb(204, 204, 204);
}

nav a {
    text-align: center;
    color: #150578;
    font-size: 45px;
    padding: 10px;
}

nav a:hover {
    background-color: #150578;
    color: white;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

footer p {
    font-size: 1.2em;
    padding: 25px;
    margin-top: 25px;
    text-align: right;
}

footer {
    padding: 6%;
}

.social {
    max-width: 15%;
    display: flex;
    justify-content: center;
}


.home {
    color: white;
}

.home:hover {
    background: transparent;
}